div {
  width: max-content;
  margin-left: 50%;
  transform: translateX(-50%);

  table {
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
    }

    tbody {
      tr:hover {
        background-color: rgba(0, 128, 0, 0.226);
        transition: 0.3s;
      }
    }
  }
  m-table-paginator {
    width: 100%;
  }
}

.withPaginator {
  border-bottom: 1px dashed green;
}

