<div>
  <div id="pagManage">
    <div id="pageLimit">
      <p>Phones per page:</p>
      <select #limitSelector (change)="onSelectorChange()" class="custom-select border border-success">
        <option [value]="instance.pageSize" selected>
          {{ instance.pageSize }}
        </option>
        <ng-container *ngFor="let limit of instance.limits">
          <ng-container *ngIf="limit !== instance.pageSize">
            <option [value]="limit">{{ limit }}</option>
          </ng-container>
        </ng-container>
      </select>
    </div>
    <div id="pagingArrows">
      <span
        class="icon-arrow-left2"
        [ngClass]="{ active: instance.currentPage > 1 }"
        (click)="instance.decrease()"
      ></span>
      <p>
        {{ instance.currentPage }} /
        {{ instance.pages }}
      </p>
      <span
        class="icon-arrow-right2"
        [ngClass]="{ active: instance.currentPage + 1 <= instance.pages }"
        (click)="instance.increase()"
      ></span>
    </div>
  </div>
</div>
