<div>
  <div id="pagManage">
    <p>Phones per page:</p>
    <select #limitSelector (change)="changeLimit()">
      <option [value]="config.limit" selected>{{ config.limit }}</option>
      <ng-container *ngFor="let limit of limits">
        <ng-container *ngIf="limit !== config.limit">
          <option [value]="limit">{{ limit }}</option>
        </ng-container>
      </ng-container>
    </select>
    <span
      class="icon-arrow-left2"
      [ngClass]="{ 'active': currentPage > 1 }"
      (click)="decreasePageNumber()"
    ></span>
    <p>
      {{ currentPage }} /
      {{ pages }}
    </p>
    <span
      class="icon-arrow-right2"
      [ngClass]="{ 'active': (currentPage + 1) <= pages }"
      (click)="increasePageNumber()"
    ></span>
  </div>
</div>
