  <m-table [config]="config">
    <m-table-column>
      <ng-template mTableCell let-phone>
        {{ phone.id }}
      </ng-template>
    </m-table-column>
    <m-table-column>
      <ng-template mTableColumnTitle="Name">
        <i><b>Name</b></i>
      </ng-template>
      <ng-template mTableCell let-phone>
        {{ phone.name }}
      </ng-template>
    </m-table-column>
    <m-table-column>
      <ng-template mTableColumnTitle="Brand" [sort]="true">
        <i><b>Brand</b></i>
      </ng-template>
      <ng-template mTableCell let-phone>
        <i>{{ phone.brand }}</i>
      </ng-template>
    </m-table-column>
    <m-table-column>
      <ng-template mTableColumnTitle="Price" [sort]="true">
        <i><b>Price</b></i>
      </ng-template>
      <ng-template mTableCell let-phone>
        <b>{{ phone.price }} ₽</b>
      </ng-template>
    </m-table-column>
  </m-table>
